.container {
    border-width: 3px;
    border-style: solid;
    height: 300px;
    width: 240px;
    overflow: auto;
}
.message {
    display: flex;
    margin: 5px;
    padding: 5px;
}

.left {
    margin-right: 30px;
    justify-content: flex-start;
    background-color: lavender;
}

.right {
    margin-left: 30px;
    justify-content: flex-end;
    background-color:darksalmon;
}

input {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin-top: 10px
}

h3 {
    color:blue;
}